<app-button color="green" (click)="copyOutput()"> <i-bs name="clipboard" role="presentation" /> Copy </app-button>

<app-button color="blue" (click)="downloadOutput()"> <i-bs name="download" role="presentation" /> Download </app-button>

<app-button color="red" (click)="reset()"> <i-bs name="trash" role="presentation" /> Reset </app-button>

<app-select
	id="indent-type"
	srOnlyLabel="Indent type"
	icon="indent"
	[list]="$any(indentTypes)"
	[(ngModel)]="indentType"
	(change)="setIndent()"
/>
<app-select
	id="indent-size"
	srOnlyLabel="Indent size"
	icon="text-indent-left"
	[list]="$any(indentSizes)"
	[(ngModel)]="indentSize"
	(change)="setIndent()"
/>
