@use 'highlight.js/styles/github';

:host {
	position: relative;
	width: 100%;
	display: grid;
	grid-auto-columns: repeat(auto-fit, minmax(320px, max-content));
}

.input,
.output code {
	display: block;
	position: relative;
	font-family: 'Iosevka', 'JetBrains Mono', 'Cascadia Mono', 'Courier New', Courier, monospace;
}

