<span class="font-sans font-bold text-xl sm:text-5xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent">
	JSON Formatter</span>

<nav aria-label="Links">
	<ul>
		<li>
			<a [href]="githubUrl" target="_blank"
				class="text-black dark:text-white justify-between hover:text-gray-300 focus:outline outline-pink outline-1 rounded-sm inline-flex outline-offset-2">
				<i-bs aria-hidden="true" name="github" width="2em" height="2em"></i-bs>
				<span class="sr-only">Source code on Github</span>
			</a>
		</li>
	</ul>
</nav>
