<span>{{ bar }}</span>
<h1
	id="privacy-policy"
	class="font-sans font-bold text-lg sm:text-4xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
>
	Privacy policy
</h1>
<span
	>Last updated: <time [dateTime]="lastUpdated | date : 'yyyy-MM-dd'">{{ lastUpdated | date : "longDate" }}</time></span
>

<div class="flex flex-col gap-3">
	<p>
		This page describes how and why do I might collect, store, use and/or share (<em>process</em>) your information when
		you use and navigate my application.
	</p>

	<p>
		If you don't accept the following terms, feel free to quit using this app (you can come&nbsp;back though 🥺👉👈).
	</p>

	<h2
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		What personal information do I process?
	</h2>
	<p>None. Really.</p>
	<p>For all I know, you may or may not just format your messy JSON objects, whatever they are.</p>

	<h2
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		Do I process any sensitive personal information?
	</h2>
	<p>
		When you navigate and use this application, I do <strong>not</strong> collect <strong>any</strong> information,
		including, but not limited to:
	</p>
	<ul class="pl-6 list-disc columns-1 sm:columns-2">
		<li>Full name</li>
		<li>Age</li>
		<li>Gender</li>
		<li>Sexual orientation</li>
		<li>Social security number</li>
		<li>Phone number</li>
		<li>Email</li>
		<li>Social media accounts</li>
		<li>Currect location</li>
		<li>Home address</li>
		<li>Work address</li>
		<li>School address</li>
		<li>IP address</li>
		<li>ISP</li>
		<li>Fingerprint</li>
		<li>Screen resolution</li>
		<li>Browser vendor</li>
		<li>Device vendor</li>
		<li>Device type</li>
		<li>Your car's license plate</li>
		<li>Your car's VIN number</li>
		<li>Credit card credentials (number, card holder name, expiration date, CVV-code)</li>
		<li>Credit score</li>
		<li>Crime records</li>
		<li>Xbox tag</li>
		<li>Your favorite quarterback</li>
		<li>Your favorite Family Guy cutaway</li>
	</ul>
	<p>I don't care about it, I wouldn't ask for it, plus I love you.</p>

	<h3
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		Do I receive any information from third parties?
	</h3>
	<p><strong>NO</strong>, I don't. Why? Why do I need your Twitter cookies for? It's just a JSON format tool.</p>

	<h3
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		How do I process your information?
	</h3>
	<p>Simple! I do not collect it, so I can't use it in any capacities or share it with someone.</p>

	<h3
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		In what situations and which parties do I share your personal information?
	</h3>
	<p>I will not share your personal information with no one. Because I do not collect it.</p>

	<h3
		class="mt-6 font-sans font-bold text-md sm:text-2xl from-pink to-mauve bg-gradient-to-r bg-clip-text text-transparent"
	>
		What are your rights?
	</h3>
	<p>You have rights to</p>
	<ul class="pl-6 list-disc">
		<li>Use my app</li>
		<li>Not use my app</li>
		<li>Contribute to this project by making a Pull request, since it's an open source project</li>
		<li>Fork this project and make some adjustments to your pleasing</li>
	</ul>
</div>
