@if (icon) {
<i-bs [name]="icon" role="presentation" />
} @if (label || srOnlyLabel) {
<label [for]="id" [class.sr-only]="!!srOnlyLabel">{{ label ?? srOnlyLabel }}</label>
}
<select
	[attr.value]="value"
	[id]="id"
	[attr.aria-labelledby]="id"
	class="bg-transparent cursor-pointer py-1 px-2 rounded-sm outline-purple-300 focus:outline focus:outline-offset-2"
	(change)="write($event)"
>
	@for (item of list; track $index) {
	<option [value]="item" [selected]="value === item">{{ item }}</option>
	}
</select>
