<button
	[type]="type"
	[disabled]="disabled"
	[ngClass]="{
		'hover:bg-sky/80': color === 'blue',
		'hover:bg-green/80': color === 'green'
	}"
	[class.bg-gray-500]="disabled"
	[class.bg-sky]="color === 'blue'"
	[class.focus:outline-sky]="color === 'blue'"
	[class.bg-green]="color === 'green'"
	[class.focus:outline-green]="color === 'green'"
	class="inline-flex p-1 pr-3 pl-3 rounded text-black justify-center items-center gap-2 text-sm focus:outline-1 focus:outline focus:outline-offset-2"
	(click)="click.emit($event)"
	><ng-content></ng-content></button>
