<app-input-toolbar class="block row-start-3 lg:row-start-1" [(decodeBase64)]="decodeBase64" />
<form class="relative flex flex-col w-full lg:min-h-auto lg:h-full row-start-4 gap-4 lg:row-start-2 lg:row-span-2">
	<label class="sr-only" for="raw-input">Raw input</label>
	<textarea
		id="raw-input"
		name="raw-input"
		class="font-mono relative w-full bg-zinc-300 dark:bg-slate-950 h-full rounded-lg p-2 overflow-auto outline-purple-400/50 focus:outline outline-offset-2"
		placeholder="Put the raw input here..."
		[class.outline-red]="!!output().error"
		[class.outline]="!!output().error"
		[(ngModel)]="input"
		[style.tabSize]="indentSize()"
	></textarea>
	@if (output().error; as error) {
	<div class="fixed lg:absolute w-full bottom-0 left-0 right-0 text-white bg-red-400 p-2 rounded-lg">
		{{ error }}
	</div>
	}
</form>
@if (output().data) {
<app-output-toolbar
	class="lg:col-start-2 lg:col-end-3 row-start-1 lg:row-start-1 lg:h-8"
	[(indentSize)]="indentSize"
	[(indentType)]="indentType"
	(copyClick)="copy()"
	(downloadClick)="download()"
	(resetClick)="reset()"
/>
<output
	class="relative w-full h-full whitespace-pre-wrap font-mono lg:col-start-2 row-start-2"
	[style.tabSize]="indentSize()"
	[innerHTML]="output().data"
></output>
}
