<app-toolbar (copyClick)="copy()" (downloadClick)="download()" (indentChange)="setIndent($event)"></app-toolbar>
<form class="relative w-full h-full">
	<span class="sr-only" id="raw-input-label">Raw input</span>
	<pre
		[style.tabSize]="indentSize()"
		role="textbox"
		aria-labelledby="raw-input-label"
		class="font-mono relative w-full min-h-full rounded-lg p-2 overflow-auto focus:outline outline-offset-2 outline-1 outline-mauve empty:outline-red empty:outline-dashed"
		[innerText]="output().data"
		contentEditable
		[tabIndex]="0"
		(blur)="setInput($event)"
		(paste)="setInput($event)"
	></pre>
</form>
<div class="absolute w-full bottom-0 text-white bg-red p-2 rounded-lg" *ngIf="output().error">{{ output().error }}</div>
