@let hasError = !!output().error; @if (output().data && !hasError) {
<app-output-toolbar
	class="lg:col-start-2 lg:col-end-3 row-start-1 lg:row-start-1 row-span-1 lg:h-8"
	(copyClick)="copy()"
	(downloadClick)="download()"
	(indentChange)="setIndent($event)"
	(resetClick)="reset()"
/>
}
<form class="relative w-full min-h-96 lg:h-full row-start-3 lg:row-start-1 row-span-1 lg:row-span-2">
	<label class="sr-only" for="raw-input">Raw input</label>
	<textarea
		id="raw-input"
		name="raw-input"
		class="font-mono relative w-full bg-zinc-300 dark:bg-slate-950 min-h-full rounded-lg p-2 overflow-auto outline-purple-400/50 focus:outline outline-offset-2"
		placeholder="Put the raw input here..."
		[class.outline-red]="!!output().error"
		[class.outline]="!!output().error"
		[(ngModel)]="input"
		[style.tabSize]="indentSize()"
	></textarea>
	@if (output().error) {
	<div class="lg:absolute w-full lg:bottom-0 lg:left-0 lgright-0 text-white bg-red-400 p-2 rounded-lg">
		{{ output().error }}
	</div>
	}
</form>
@if (!hasError) {
<output
	class="relative w-full h-full whitespace-pre-wrap font-mono lg:col-start-2 row-start-2 row-span-1"
	[style.tabSize]="indentSize()"
	[innerHTML]="output().data"
></output>
}
